@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');

body {
  background-color: #70AE6E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: #ffffff;
  color: #70AE6E;
  width: 40%;
  height: auto;
  margin: 0 auto;
  border: solid 2px #3C6E71;
  border-radius: 8px;
  padding: 35px 50px 35px 50px;
}

#text {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 26px;
  text-align: left;
  padding: 0px 20px 20px 20px;
  margin: 5px;
  line-height: 1.5;
}

#author {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 35px;
  font-style: italic;
}

#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

#new-quote {
  border-radius: 5px;
  cursor: pointer;
  height: 28px;
  width: 120px;
  background-color: #4D7B7D;
  color: white;
  border: none;
}

#new-quote:hover {
  background-color: #376467;
}
